    * {
    margin: 0px;
    padding: 0px;
}


header {
    background-color: rgb(7, 54, 155);
    height: 6em;
    color: white;
    text-align: center;

    main{

    }
    
    footer{
        background-color: yellow;
    }




}